::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #DDD;
}

::-webkit-scrollbar-thumb {
  background: #AAA;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

nav .navbar-nav .nav-link .active{
  color: #47B45F !important;
}

nav .navbar-nav .nav-link a{
  color: #141515 !important;
}